<div id="contentwrapper">
	<h1>to-do list</h1>
	<p class="gentext">Welcome to the to-do list app!</p>
	<div id="buttoncontainer" style="display: inline-block;">
		<%= link_to "log in!", "#", class:"button" %>
		<%= link_to "sign up!", signup_path, class:"button" %>
	</div>
</div>